<ion-content padding>
  <ion-header collapse="condense"> 
    <ion-toolbar>
      <ion-title class="ion-text-center">Reserva Canchas</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content padding>
  <ion-img src="assets/unnamed.png" style="width: 400px; height: 200px;"></ion-img>
</ion-content>

<p style="text-align: center; font-size: 23px;">Bienvenido a Reserva tu cancha</p>

  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col size="12" size-md="6" size-lg="8">
        <ion-item>
          <ion-label position="stacked" class="labelEditado">Ingresa tu nombre</ion-label>
          <ion-input type="text" [(ngModel)]="nombreUser" class="verdeRedondeado"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-row justify-content-center>
    <ion-col size="12" size-md="6" size-lg="8">
      <ion-button expand="full" (click)="guardarNombre()" class="boton-siguiente">Siguiente</ion-button>
    </ion-col>
  </ion-row>

